<link rel="stylesheet" type="text/css" href="../../../../../../webapp/css/standard.css"/>
<div jwcid="$content$">
<div jwcid="showEntryPoint@If" condition="ognl:showEntryPoint" renderTag="false">
    <div jwcid="guts@Block">
    <div jwcid="renderBody_and_not_bodyPartOfLink@If" condition="ognl:renderBody && !bodyPartOfLink" renderTag="false"><div jwcid="@RenderBody"></div></div>
    <div jwcid="not_renderedAsSubmit@If" condition="ognl:! renderedAsSubmit" renderTag="false" volatile="true">
        <div jwcid="sameAsActive_1@If" condition="ognl:sameAsActive" renderTag="false" volatile="true">
            <a href="#" class="ognl:className" jwcid="entryP@PageLink" page="ognl:activePage" stateful="ognl:statefulSetting"
                title="ognl:flowLabel"><div 
                jwcid="bodyPartOfLink_1@If" condition="ognl:bodyPartOfLink" renderTag="false"><span jwcid="@RenderBody"></span></div>
                    <div jwcid="@Else" renderTag="false"><span 
                    jwcid="@Insert" value="ognl:flowLabel">Flow Label</span></div></a>
        </div>
        <div jwcid="@Else" renderTag="false">
                <!-- TODO: not doing submit - should be able to do a LaunchFlowLauncher -->
                <a href="#" class="ognl:className" jwcid="fepLink" stateful="ognl:statefulSetting"
                listener="listener:doEnterFlow" title="ognl:flowLabel"
                disabled="ognl:renderAsDisabled"
                parameters="ognl:parameters"><div 
                jwcid="bodyPartOfLink_2@If" condition="ognl:bodyPartOfLink" renderTag="false"><span jwcid="@RenderBody"></span></div>
                    <div jwcid="@Else" renderTag="false"><span 
                    jwcid="@Insert" value="ognl:flowLabel">Flow Label</span></div></a>
        </div>
    </div>
    <div jwcid="@Else" renderTag="false">
        <div jwcid="renderAsButton_1@If" condition="ognl:renderAsButton" renderTag="false" volatile="true">
            <input jwcid="fepSubm" value="ognl:flowLabel" type="submit" alt="ognl:flowLabel"
                disabled="ognl:renderAsDisabled"
                class="asButton" action="listener:doEnterFlow"
                parameters="ognl:parameters"/>
        </div>            
        <div jwcid="@Else" renderTag="false">
            <a href="#" class="ognl:className" jwcid="fepLiSubm" title="ognl:flowLabel"
                disabled="ognl:renderAsDisabled"
                action="listener:doEnterFlow"
                parameters="ognl:parameters"><div 
                jwcid="bodyPartOfLink_3@If" condition="ognl:bodyPartOfLink" renderTag="false"><span jwcid="@RenderBody"></span></div>
                    <div jwcid="@Else" renderTag="false"><span 
                    jwcid="@Insert" value="ognl:flowLabel">Flow Label</span></div></a>
        </div>
    </div>
    </div>
    <div jwcid="flowEntryPointIsForm_1@If" condition="ognl:flowEntryPointIsForm" renderTag="false" volatile="true">
        <form jwcid="innerForm">
            <div jwcid="@RenderBlock" block="component:guts"></div>
        </form>
    </div>
    <div jwcid="@Else" renderTag="false">
        <div jwcid="@RenderBlock" block="component:guts"></div>
    </div>
</div>
</div>
